<div class="ulgb-assessmentItem-inner">
	
	{{#each _results._sections}}
		<div class="section {{_className}} {{_size}} {{_type}}">
		{{#if _isTitle}}
			<div class="text">
				<h4 class="title">{{{title}}}</h4>
				<div class="body">{{{body}}}</div>
			</div>
		{{/if}}
		{{#if _isQuestionsAttempted}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		{{#if _isAveragePoints}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		{{#if _isRightFirstTime}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		{{#if _isPredictedScore}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		{{#if _isForecastForFinalAssessment}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		{{#if _isPageLevelView}}
			<div class="text">
				<h5 class="title">{{{title}}}</h5>
				<div class="body">{{{body}}}</div>
			</div>
			<div class="chart" section="{{_type}}"></div>
		{{/if}}
		</div>
	{{/each}}
	
</div>